#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(
	// GENERAL
	address: "/tmp/mpd_socket",
	password: None,
	cache_dir: "/home/armen/.cache/rmpc",
	lyrics_dir: None,
	theme: "main",

	mpd_read_timeout_ms: 10_000,
	mpd_write_timeout_ms: 5_000,
	mpd_idle_read_timeout_ms: None,

	rewind_to_start_sec: None,
	volume_step: 5,
	max_fps: 30,
	scrolloff: 5,
	wrap_navigation: true,
	enable_mouse: true,
	enable_config_hot_reload: true,
	status_update_interval_ms: 1000,
	select_current_song_on_change: false,
	reflect_changes_to_playlist: false,

	// PANES CONFIG (TODO)
	artists: (
			album_display_mode: SplitByDate,
			album_sort_by: Date,
	),
	browser_song_sort: [Disc, Track, Artist, Title],
	directories_sort: SortFormat(group_by_type: true, reverse: false),
	show_playlists_in_browser: None,

	// TABS
	tabs: [
		(
			name: "Test",
			pane: Split(
				direction: Horizontal,
				borders: "ALL",
				panes: [
					(
						size:"50%",
						borders: "ALL",
						pane: Pane(AlbumArt),
					),
					(
						size:"50%",
						borders: "ALL",
						pane: Pane(Cava),
					)
				],
			),
		),
		(
			name: "T2",
			pane: Pane(Browser(
				root_tag: "artist",
				seperator: "/"
			)),
		),
		(
			name: "Genre",
			pane: Pane(Browser(
				root_tag: "genre",
				seperator: "|"
			)),
		),
		(
			name: "Queue",
			pane: Pane(Queue)
		),
		(
			name: "search",
			pane: Pane(Search),
		),
		
	],

	// EVENTS
	on_song_change: None,
	on_resize: None,

	// CAVA
	cava: (
		framerate: 60,
		autosens: true,
		sensitivity: 100,
		lower_cutoff_freq: 50,
		higher_cutoff_freq: 10000,
		input: (
			method: Fifo,
			source: "/tmp/mpd_fifo",
			sample_rate: 44100,
			channels: 2,
			sample_bits: 16,
		),
		smoothing: (
			noise_reduction: 77,
			monstercat: true,
			waves: false,
		),
		eq: [1,1,1,1,1],
	),

	album_art: (
			method: Auto,
			max_size_px: (width: 1200, height: 1200),
			disabled_protocols: ["http://", "https://"],
			vertical_align: Center,
			horizontal_align: Center,
	),
	keybinds: (
			global: {
					":":       CommandMode,
					",":       VolumeDown,
					"s":       Stop,
					".":       VolumeUp,
					"<Tab>":   NextTab,
					"<S-Tab>": PreviousTab,
					"1":       SwitchToTab("Queue"),
					"2":       SwitchToTab("Directories"),
					"3":       SwitchToTab("Artists"),
					"4":       SwitchToTab("Album Artists"),
					"5":       SwitchToTab("Albums"),
					"6":       SwitchToTab("Playlists"),
					"7":       SwitchToTab("Search"),
					"q":       Quit,
					">":       NextTrack,
					"p":       TogglePause,
					"<":       PreviousTrack,
					"f":       SeekForward,
					"z":       ToggleRepeat,
					"x":       ToggleRandom,
					"c":       ToggleConsume,
					"v":       ToggleSingle,
					"b":       SeekBack,
					"~":       ShowHelp,
					"u":       Update,
					"U":       Rescan,
					"I":       ShowCurrentSongInfo,
					"O":       ShowOutputs,
					"P":       ShowDecoders,
					"R":       AddRandom,
			},
			navigation: {
					"k":         Up,
					"j":         Down,
					"h":         Left,
					"l":         Right,
					"<Up>":      Up,
					"<Down>":    Down,
					"<Left>":    Left,
					"<Right>":   Right,
					"<C-k>":     PaneUp,
					"<C-j>":     PaneDown,
					"<C-h>":     PaneLeft,
					"<C-l>":     PaneRight,
					"<C-u>":     UpHalf,
					"N":         PreviousResult,
					"a":         Add,
					"A":         AddAll,
					"r":         Rename,
					"n":         NextResult,
					"g":         Top,
					"<Space>":   Select,
					"<C-Space>": InvertSelection,
					"G":         Bottom,
					"<CR>":      Confirm,
					"i":         FocusInput,
					"J":         MoveDown,
					"<C-d>":     DownHalf,
					"/":         EnterSearch,
					"<C-c>":     Close,
					"<Esc>":     Close,
					"K":         MoveUp,
					"D":         Delete,
					"B":         ShowInfo,
			},
			queue: {
					"D":       DeleteAll,
					"<CR>":    Play,
					"<C-s>":   Save,
					"a":       AddToPlaylist,
					"d":       Delete,
					"C":       JumpToCurrent,
					"X":       Shuffle,
			},
	),
	search: (
			case_sensitive: false,
			mode: Contains,
			tags: [
					(value: "any",         label: "Any Tag"),
					(value: "artist",      label: "Artist"),
					(value: "album",       label: "Album"),
					(value: "albumartist", label: "Album Artist"),
					(value: "title",       label: "Title"),
					(value: "filename",    label: "Filename"),
					(value: "genre",       label: "Genre"),
			],
	),
)
